@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #CCC098, #EFE6CD);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(68, 73, 48, 0.527);
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #7D8758;
    text-shadow: 1px 1px 2px #3f442cc2;
}

h2 {
    color: #C5B67B;
}


p {
    text-align: justify;
}